DATABASE_URL=postgresql://postgres:okydoky@localhost:5432/barberias
SESSION_SECRET=secret_key_for_sessions
APP_URL=http://localhost:3000
SEED_OWNER_EMAIL=owner@barberia-x.test
SEED_OWNER_PASSWORD=admin1234
MP_ACCESS_TOKEN="TEST-2311301713682112-021800-249fb393dbc95cb4cc8e8a5d00cc8fcf-291765832"
MP_PUBLIC_KEY="TEST-d05598fb-c3ce-42c1-af19-0cb1bf8f6e4e"
